*.class

# Package Files #
*.jar
*.war
*.ear

# Textpad Output
*.bat
/nbproject/private/
/dist/
/build/
/net/nbproject/private/
/net/build/
/net/dist/

# Clover output

*.css
*.html
*.s
.clover*

#misc

*.xml
*.properties